<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
	<header>
  <center>Edit Here!</center>
  </header>
  <br/>
	<center>
      <%= form_with model: employee do |form|  %>
        <div>
          <%= form.label :name,"Enter Name"%>	
          <%= form.text_field :name, required: :true%>
          <% @employee.errors.full_messages_for(:name).each do |message| %>
           <div><%= message %></div>
         <% end %>	
        </div>
        <br/>
        <div>
          <%= form.label :gender, "Gender" %>
          <%= form.radio_button :gender, 'male'%>	
          <%= form.label :gender_male, "Male"%>	
          <%= form.radio_button :gender, 'female' %>
          <%= form.label :gender_female, "Female" %>
        </div>
        <br/>
        <div>
          <%= form.label :dob,"Date of Birth"%>	
          <%= form.date_select :dob,{order:[:day,:month,:year],prompt:{day:"Select day",month:"Select month",year:"Select year"}, start_year: Date.today.year - 100, end_year:Date.today.year-15},{required: :true} %>	
        </div>
        <br/>
        <div>
          <%= form.label :address,"Address"%>	
          <%= form.text_area :address,size: '50*12', required: :true%>	
        </div>
        <br/>
        <div>
          <%= form.label :doj,"Date of Joining"%>	
          <%= form.date_select :doj,{order:[:day,:month,:year],prompt:{day:"Select day",month:"Select month",year:"Select year"}, start_year: Date.today.year - 20, end_year:Date.today.year},{required: :true} %>	
        </div>
        <br/>
        <div>
          <%= form.label :department,"Department"%>	
          <%= form.text_field :department, required: :true%>	
        </div>

        <div>
          <%= form.submit "Submit" %>
        </div>
	  
	    <% end %>
	  </center>

</body>
</html>