<h1><%= link_to "Employees", employees_path%></h1>
Download:
<%= link_to "CSV", employees_path(format: "csv") %> |
<%= link_to "Excel", employees_path(format: "xls") %>
<br/><br/>
<%= form_tag employees_path, method: :get do %>
<%= text_field_tag :search%>
<%= submit_tag "Find", name: nil %>
<% end %>

<br/>
<%= form_tag import_employees_path,multipart: true do %>
  <%= label_tag :file, "Import csv here" %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<br><br>

<%= form_with url:delete_selected_employees_path do |form| %>
<%= label_tag :list_employees, "List" %>
<%= select_tag :list_employees, options_for_select(@employees.map { |employee| [employee.name]  }) %>
<%= form.submit value: "Delete Selected" %>
<br><br>
<table align="justify">
  <thead>
    <tr>
      <th>Select</th>
      <th>S.No.</th>
      <% if params[:order] == "DESC" %>
        <% params[:order] = "ASC" %>
      <% else %>
        <% params[:order] = "DESC" %>
      <% end %>
      <th> <%= link_to 'Name', employees_path(order: params[:order]) %> </th>
      <th>Edit</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each_with_index do |employee, index| %>  
      <tr>
        <td>
          <%= check_box_tag "employee_ids[]",employee.id %>
        </td>
        <td>
          <%= index+=1 %>
        </td>
        <td>
          <%= link_to employee.name.capitalize,employee_path(employee) %>
        </td>
        <td>
          <%= link_to "Edit",edit_employee_path(employee) %>
        </td>
        <td>
          <%= link_to "Show",employee_path(employee) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>
<br/>
<h3>
  <%= link_to "Add New Employee", new_employee_path %>
</h3>
<% end %>

<%= will_paginate @employees %>